* {
	font-family: 'Open Sans', sans-serif;
}
body {
	background-color: #7f8c8d;
}
.container {
	width: 960px;
	margin: 0 auto;
	box-shadow: 1px 1px 3px #333;
}
header {
	height:300px;
	color: #fff;
	background-color: rgba(46, 204, 113, .8);
	position: relative;
	z-index: 1;
}
header h1 {
	position: absolute;
	bottom: 0;
	padding: 0 10px;
}
nav {
	height: 60px;
}
.sideBox {
	width: 200px;
	box-shadow: 1px 1px 3px #333;
	background-color: #fff;
	display: inline-block;
}
.sideBox ul {
	padding-left: 0;
}
.sideBox li {
	list-style:none;
	font-size:12px;
	color: #7f8c8d;
}
.mainNav {
	background-color: rgba(52, 73, 94, .95);
	text-align: right;
	list-style: none;
	padding-left: 0;
	z-index: 0;
	margin: -10px 0 0 0;
}
.mainNav li {
	text-transform: uppercase;
	color: #fff;
	padding: 20px;
	display: inline-block;
}
.content {
	background-color: rgba(255,255,255,.95);
	z-index: -1;
	margin-top: -10px;
	padding: 0 20px;
}
section {
	padding: 10px;
}
section p {
	padding: 10px;
}
section h3 {
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}