/***** SITEWIDE COMPONENTS *****/

* {
	font-family: 'Open Sans', sans-serif;
}
body {
	background-color: #7f8c8d;
}
section {
	padding: 10px;
}
.container {
	width: 960px;
	margin: 20px auto;
	box-shadow: 1px 1px 1px #333;
}
.redText {
	color: red;
}

/***** HEADER COMPONENTS *****/

header {
	height:300px;
	color: #fff;
	background-color: rgba(46, 204, 113, 1);
	position: relative;
	border-bottom: 10px solid #27ae60;
}
header h1 {
	position: absolute;
	bottom: 0;
	padding: 0 10px;
}

/***** NAV COMPONENTS *****/

nav {
	height: 50px;
	border-bottom: 10px solid #2c3e50;
}
.mainNav {
	background-color: rgba(52, 73, 94, .95);
	text-align: right;
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.mainNav li {
	text-transform: uppercase;
	display: inline-block;
}
.mainNav a:hover {
	color: #ccc;
	text-decoration: underline;
}
.mainNav li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 15px;
}

/***** CONTENT COMPONENTS *****/

.content {
	background-color: rgba(255,255,255,.85);
	z-index: -1;
	padding: 0 20px;
}
section p {
	padding: 10px 5px 10px 30px;
}
section h3 {
	padding: 5px 12px;
	border-bottom: 1px solid #ccc;
}
figure {
	background-color: #BDC3C7;
	padding: 20px 40px;
	margin: 0px;
}
pre {
	margin: 0;
}
.heroImage {
	width: 100%;
}
.postByText {
	color: #BDC3C7;
	padding: 30px 0;
	font-size: .85em;
}

/***** TABLE COMPONENTS *****/

table {
	border: 1px solid #bdc3c7;
	text-align: left
}
table th,
table td {
	padding: 10px;
}
th {
	background-color: #95a5a6;
}
table a {
	padding: 5px 30px;
	text-decoration: none;
	color: #fff;
	background-color: #3498DB;
}
table a:hover {
	background-color: #2978ad;
}

/***** FORM COMPONENTS *****/

.commentSubmitForm fieldset {
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 0;
}
.commentSubmitForm legend {
	background: transparent;
	padding: 20px 8px;
	margin-left: 15px;
	color: #999;
	font-size: .85em;
}
.commentSubmitForm label {
	text-align: right;
	display: inline-block;
	width: 15%;
	padding: 0 5px;
	font-size: .85em;
}
.commentSubmitForm p {
	padding: 5px;
	margin: 0;
}
.commentSubmitForm input[type="text"] {
	width: 80%;
}
textarea {
	width: 100%;
	margin: 10px 0;
	height: 200px;
	padding: 0;
	resize: none;
}
.commentSubmitForm input[type="submit"] {
	width: 100%;
	padding: 10px;
	color: #fff;
	border: none;
	background-color: #c0392b;
	margin: 30px 0;
}
.commentSubmitForm input[type="submit"]:hover {
	background-color: #a02f24;
}

/***** COMMENT STREAM COMPONENTS *****/

.commentStream {
	padding-bottom: 80px;
}
.commentStream p {
	padding: 0;
}
.commentStream img {
	padding-right: 15px;
	float: left;
}
time {
	display: block;
	font-style: italic;
	color: #999;
	font-size: .8em;
	padding: 10px 0;
}
.nestedComments {
	margin: 30px 40px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}

/***** SIDEBOX COMPONENTS *****/

.sideBox {
	box-shadow: 1px 1px 1px #333;
	background-color: rgba(255,255,255,.9);
	display: inline-block;
	position: absolute;
	top: 390px;
	left: 50%;
	margin-left: 26%;
	padding: 10px 40px 10px 20px;
	border-bottom: 5px solid rgba(0,0,0,.9);
}
.sideBox h4 {
	margin: 5px 0;
}
.sideBox ul {
	padding-left: 0;
	margin: 5px 0 5px 10px;
}
.sideBox li {
	list-style:none;
	font-size:.8em;
	color: #7f8c8d;
	padding: 2px 0;
}
.sideBox li:hover {
	text-decoration: underline;
}
